{
  "Get-AzsSlbMuxInstance+[NoContext]+TestListSlbMuxInstances+$GET+https://management.azure.com/subscriptions/1aea8c7b-4989-4d43-8aca-6a3349d4bb20/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/slbMuxInstances?api-version=2016-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/1aea8c7b-4989-4d43-8aca-6a3349d4bb20/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/slbMuxInstances?api-version=2016-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "843" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "14834" ],
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv4yFqzgf83JDd/XEWnADnwPbnpkAwZAXie7S7OC2UT+LOjluTHfgraQw04X4vwftK8/8+uWa55Np9i7wg9HMlde7Pp4MGiDyqvczbeZS8JJHGhaxG7pRrG48YgtEdWXRObZeKxtwvciAX+r00Trio" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/1aea8c7b-4989-4d43-8aca-6a3349d4bb20/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/slbMuxInstances/s45r1202-SLB01\",\"name\":\"redmond/s45r1202-SLB01\",\"type\":\"Microsoft.Fabric.Admin/fabricLocations/slbMuxInstances\",\"location\":\"redmond\",\"tags\":{},\"properties\":{\"configurationState\":\"Success\",\"virtualServer\":\"s45r1202-SLB01\",\"bgpPeers\":[\"BGPGateway-64624-64519\",\"BGPGateway-64624-64519\"]}},{\"id\":\"/subscriptions/1aea8c7b-4989-4d43-8aca-6a3349d4bb20/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/slbMuxInstances/s45r1202-SLB02\",\"name\":\"redmond/s45r1202-SLB02\",\"type\":\"Microsoft.Fabric.Admin/fabricLocations/slbMuxInstances\",\"location\":\"redmond\",\"tags\":{},\"properties\":{\"configurationState\":\"Success\",\"virtualServer\":\"s45r1202-SLB02\",\"bgpPeers\":[\"BGPGateway-6462[...]
