{
  "Get-AzsInfrastructureRoleInstance+[NoContext]+TestListInfraRoleInstances+$GET+https://adminmanagement.redmond.ext-n22r0903.masd.stbtest.microsoft.com/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/infraRoleInstances?api-version=2016-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://adminmanagement.redmond.ext-n22r0903.masd.stbtest.microsoft.com/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/infraRoleInstances?api-version=2016-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "133" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "14996" ],
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvhps/ALi+ScKUOyfa/DICA0WaAGz3iqvykd5tdBVO5TLapysFQirT35QV0FpRChs6m0cnNTLqs0OXilOuUpFmZYctAcMGoHCY39inoZ+L1+vjshDVbXZ9s6LVJ2NBK8MNP1nvTM4KQn040sVPP/5a" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/infraRoleInstances/n22r0903-ACS01\",\"name\":\"redmond/n22r0903-ACS01\",\"type\":\"Microsoft.Fabric.Admin/fabricLocations/infraRoleInstances\",\"location\":\"redmond\",\"tags\":{},\"properties\":{\"scaleUnit\":\"/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/system.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/scaleUnits/s-cluster\",\"scaleUnitNode\":\"/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/system.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/scaleUnitNodes/ASRR1N22R09U19\",\"size\":{\"memoryGb\":8.0,\"cores\":4},\"state\":\"Running\"}},{\"id\":\"/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/System.redmond/providers/Microsoft.Fabric.Admin/fabricLocations/redmond/infraRoleInstances/n22r0903-ACS02\",\"name\":\"redmond/n22r0903-ACS02\",\"type\":\"Microsoft.Fabric.Admin/fabricLocations/infraRoleInstances\",\"location\":\"redmond\",\"tags\":{},\"properties\":{\"scaleUnit\":\"/subscriptions/f7f5c0d1-e0a3-41f5-bf30-d27f13c9a3a7/resourceGroups/system.redmond/providers/Microsoft.Fabric.Admin/fabricLoca[...]
