{
  "Get-AzsBackup+[NoContext]+TestListBackups+$GET+https://adminmanagement.redmond.ext-v.masd.stbtest.microsoft.com/subscriptions/05101DAF-F50D-4436-A2AC-495E5C4864C2/resourceGroups/system.redmond/providers/Microsoft.Backup.Admin/backupLocations/redmond/backups?api-version=2018-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://adminmanagement.redmond.ext-v.masd.stbtest.microsoft.com/subscriptions/05101DAF-F50D-4436-A2AC-495E5C4864C2/resourceGroups/system.redmond/providers/Microsoft.Backup.Admin/backupLocations/redmond/backups?api-version=2018-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "42" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "14970" ],
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvU16FIS3b3KDrSevEjc2qMbT4ogLwl5lsqN+KO8A15nzmYisMiLd9xTENV8PSEaldS3Q8niVwNZ5a+KnGy+of8tcWFTJVivZwnfolRZfKOwY1p+/DYhhgh7AVjeLB91NdKRJq0mIJRQfqnzELYrju" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/05101DAF-F50D-4436-A2AC-495E5C4864C2/resourceGroups/system.redmond/providers/Microsoft.Backup.Admin/backupLocations/redmond/backups/08b92613-837a-43cd-86b5-1212ef954384\",\"name\":\"redmond/08b92613-837a-43cd-86b5-1212ef954384\",\"type\":\"Microsoft.Backup.Admin/backupLocations/backups\",\"location\":\"redmond\",\"tags\":{},\"properties\":{\"backupInfo\":{\"backupDataVersion\":\"1.0.1\",\"backupId\":\"08b92613-837a-43cd-86b5-1212ef954384\",\"roleStatus\":[{\"roleName\":\"NRP\",\"status\":\"Succeeded\"}],\"status\":\"Succeeded\",\"createdDateTime\":\"2020-03-04T12:22:18.7883083Z\",\"timeTakenToCreate\":\"PT6M35.345912S\",\"stampVersion\":\"1.2002.0.35\",\"oemVersion\":\"2.1.1907.1\",\"deploymentID\":\"015353df-d49a-460a-ac74-69bb3b1b4d1e\",\"encryptionCertThumbprint\":\"126B334D833C9E3AA9C1429B9B2A3C7CF3215FB0\",\"completelyUploaded\":true,\"isAutomaticBackup\":false,\"isCloudRecoveryReady\":false}}},{\"id\":\"/subscriptions/05101DAF-F50D-4436-A2AC-495E5C4864C2/resourceGroups/system.redmond/providers/Microsoft.Backup.Admin/backupLocations/redmond/backups/0f377aa9-22b7-4623-833e-7386bc37d4fd\",\"name\":\"redmond/0f377aa9-22b7-4623-833e-7386bc37d4fd\",\"type\":\"Microsoft.Backup.Admin/backupLocations/backups\",\"location\":\"redmond\",\"tags\":{},\"properties\":{\"backupInfo\":{\"backupDataVersion\":\"1.0.1\",\"backupId\":\"0f377aa9-22b7-4623-833e-7386bc37d4fd\",\"roleStatus\":[{\"rol[...]
