{
  "Get-AzsGalleryItem+[NoContext]+TestListAllGalleryItems+$GET+https://management.azure.com/subscriptions/b64bc025-4ace-4ffa-844e-4473ded5c230/providers/Microsoft.Gallery.Admin/galleryItems?api-version=2015-04-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/b64bc025-4ace-4ffa-844e-4473ded5c230/providers/Microsoft.Gallery.Admin/galleryItems?api-version=2015-04-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": ["269"],
        "Authorization": ["[Filtered]"]
      },
      "ContentHeaders": {}
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-version": [
          "10.1.1909.5 (AzureUX-Gallery:AzsRelease/1909.a575b74b.191025-1613)"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": ["14697"]
      },
      "ContentHeaders": {
        "Content-Type": ["application/json; charset=utf-8"]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/b64bc025-4ace-4ffa-844e-4473ded5c230/providers/Microsoft.Gallery.Admin/galleryItems/Canonical.UbuntuServer1804LTS-ARM.1.0.3\",\"name\":\"Canonical.UbuntuServer1804LTS-ARM.1.0.3\",\"type\":\"Microsoft.Gallery.Admin/galleryItems\",\"properties\":{\"identity\":\"Canonical.UbuntuServer1804LTS-ARM.1.0.3\",\"publisher\":\"Canonical\",\"publisherDisplayName\":\"Canonical\",\"itemName\":\"UbuntuServer1804LTS-ARM\",\"itemDisplayName\":\"Ubuntu Server 18.04 LTS\",\"version\":\"1.0.3\",\"summary\":\"Ubuntu Server delivers the best value scale-out performance available.\",\"longSummary\":\"Ubuntu Server delivers the best value scale-out performance available.\",\"description\":\"Ubuntu Server 18.04 LTS amd64 20180808 Public Azure, 20180806 Azure Germany, 20180806 Azure China. Ubuntu Server is the world\u0027s most popular Linux for cloud environments. Updates and patches for Ubuntu 18.04 will be available until April 2023.  Ubuntu Server is the perfect virtual machine (VM) platform for all workloads from web applications to NoSQL databases and Hadoop. For more information see \u003ca href=\u0027http://partners.ubuntu.com/microsoft\u0027 target=\u0027_blank\u0027\u003eUbuntu on Azure\u003c/a\u003e and \u003ca href=\u0027http://juju.ubuntu.com\u0027 target=\u0027_blank\u0027\u003eusing Juju to deploy your workloads\u003c/a\u003e.\u003cp\u003e\u003ch3 class=\u0027msportalfx-text-header\u0027\u003eLegal Terms\u003c/h3\u003e\u003c/p\u003e\u003cp\u003eBy clicking the Create button, I acknowledge that I am getting this software from Canonical and that the \u003ca href=\u0027http://www.ubuntu.com/project/about-ubuntu/licensing\u0027 target=\u0027_blank\u0027\u003elegal terms\u003c/a\u003e of Canonical apply to it. Microsoft does not provide rights for third-party software. Also see the \u003ca href=\u0027http://www.ubuntu.com/aboutus/privacypolicy\u0027 target=\u0027_blank\u0027\u003eprivacy statement\u003c/a\u003e from Canonical.\u003c/p\u003e\",\"uiDefinitionUri\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/UIDefinition.json\",\"createdTime\":\"2020-02-08T21:13:24.1513666Z\",\"changedTime\":\"2020-02-08T21:13:24.1523023Z\",\"marketingMaterial\":{\"path\":\"marketplace/partners/Canonical/UbuntuServer1804LTS\"},\"itemType\":\"GalleryItem\",\"categoryIds\":[\"virtualMachine\",\"microsoftServer\",\"azure\",\"linux\",\"appInfra\",\"azureCertified\",\"virtualMachineRecommended\",\"ubuntuservercuration\",\"Ubuntu\",\"virtualMachine-Arm\",\"virtualMachine-csp\"],\"screenshotUris\":[],\"links\":[{\"id\":\"0\",\"displayName\":\"Linux VM Documentation\",\"uri\":\"https://docs.microsoft.com/azure/virtual-machines/linux/\"},{\"id\":\"1\",\"displayName\":\"Ubuntu Documentation\",\"uri\":\"https://help.ubuntu.com/18.04/index.html\"},{\"id\":\"2\",\"displayName\":\"FAQ\",\"uri\":\"https://help.ubuntu.com/community/ServerFaq\"},{\"id\":\"3\",\"displayName\":\"Pricing Details\",\"uri\":\"http://azure.microsoft.com/pricing/details/virtual-machines/#linux\"}],\"filters\":[],\"iconFileUris\":{\"small\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/icons/Small.png\",\"medium\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/icons/Medium.png\",\"large\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/icons/Large.png\",\"wide\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/icons/Wide.png\"},\"artifacts\":[{\"name\":\"DefaultTemplate\",\"uri\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/DeploymentTemplates/DefaultTemplate.json\",\"type\":\"template\"},{\"name\":\"createuidefinition\",\"uri\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/DeploymentTemplates/createuidefinition.json\",\"type\":\"custom\"}],\"metadata\":{\"altStackReference\":\"Canonical.UbuntuServer1804LTS\",\"leadGeneration\":{\"productId\":\"firstParty_Ubuntu_Server_18.04_LTS\"}},\"properties\":{},\"images\":[{\"context\":\"ibiza\",\"items\":[{\"id\":\"small\",\"uri\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/icons/Small.png\",\"type\":\"icon\"},{\"id\":\"medium\",\"uri\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/icons/Medium.png\",\"type\":\"icon\"},{\"id\":\"large\",\"uri\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/icons/Large.png\",\"type\":\"icon\"},{\"id\":\"wide\",\"uri\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/icons/Wide.png\",\"type\":\"icon\"}]}],\"products\":[{\"displayName\":\"Ubuntu Server 18.04 LTS\",\"publisherDisplayName\":\"Canonical\",\"pricingDetailsUri\":\"http://azure.microsoft.com/pricing/details/virtual-machines/#linux\",\"offerDetails\":{\"publisherId\":\"Canonical\",\"offerId\":\"UbuntuServer1804LTS-ARM\",\"plans\":[]},\"legalTerms\":\"http://www.ubuntu.com/project/about-ubuntu/licensing\",\"privacyPolicy\":\"http://www.ubuntu.com/aboutus/privacypolicy\",\"legalTermsUri\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/Content/LegalTerms0.DEFAULT.txt\",\"privacyPolicyUri\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/Content/PrivacyPolicy0.DEFAULT.txt\",\"useEnterpriseContract\":false}],\"searchScore\":0.0,\"definitionTemplates\":{\"uiDefinitionFileUri\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/UIDefinition.json\",\"defaultDeploymentTemplateId\":\"DefaultTemplate\",\"deploymentTemplateFileUris\":{\"DefaultTemplate\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/DeploymentTemplates/DefaultTemplate.json\",\"createuidefinition\":\"https://galleryartifacts.adminhosting.redmond.ext-n35r1010.masd.stbtest.microsoft.com//artifact/20161101/Canonical.UbuntuServer1804LTS-ARM.1.0.3/DeploymentTemplates/createuidefinition.json\"},\"deploymentFragmentFileUris\":{}},\"additionalProperties\":{},\"keywords\":[]}},{\"id\":\"/subscriptions/b64bc025-4ace-4ffa-844e-4473ded5c230/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.AddOnRP-WindowsServer.1.1910.3\",\"name\":\"Microsoft.AddOnRP-WindowsServer.1.1910.3\",\"type\":\"Microsoft.Gallery.Admin/galleryItems\",\"properties\":{\"identity\":\"Microsoft.AddOnRP-WindowsServer.1.1910.3\",\"publisher\":\"Microsoft\",\"publisherDisplayName\":\"Microsoft\",\"itemName\":\"AddOnRP-WindowsServer\",\"itemDisplayName\":\"Microsoft AzureStack Add-On RP Window[...]
