{
  "RegionHealths+[NoContext]+TestListRegionHealths+$GET+https://management.azure.com/subscriptions/8436efc5-b1be-4ae4-996c-861ae6c21e80/resourceGroups/System.redmond/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/redmond?api-version=2016-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/8436efc5-b1be-4ae4-996c-861ae6c21e80/resourceGroups/System.redmond/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/redmond?api-version=2016-05-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "651" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvx+Egem5zGnCdEK/v5DdSOyuP2FdfWb1HrsvzubEcz7dQK0vDV5jlxcjliswl7mXoG1uergAEzGy6K3oyyqKaSdN87JLe7S9ugJzFwEG4qwSWo6QuTe2PO7sADZ7IkXwiYR99tkAL9lXj3zNF25JI" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "13725" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"/subscriptions/8436efc5-b1be-4ae4-996c-861ae6c21e80/resourceGroups/System.redmond/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/redmond\",\"name\":\"redmond\",\"type\":\"Microsoft.InfrastructureInsights.Admin/regionHealths\",\"location\":\"redmond\",\"tags\":{},\"properties\":{\"usageMetrics\":[{\"name\":\"Physical memory\",\"metricsValue\":[{\"name\":\"Used\",\"unit\":\"GB\",\"value\":1235.6357421875},{\"name\":\"Available\",\"unit\":\"GB\",\"value\":809.1064453125}]},{\"name\":\"Physical storage\",\"metricsValue\":[{\"name\":\"Used\",\"unit\":\"TB\",\"value\":11.876260235905647},{\"name\":\"Available\",\"unit\":\"TB\",\"value\":53.6607881039381}]},{\"name\":\"Public IP address pools\",\"metricsValue\":[{\"name\":\"Used\",\"unit\":\"One\",\"value\":53.0},{\"name\":\"Available\",\"unit\":\"One\",\"value\":970.0}]}],\"alertSummary\":{\"criticalAlertCount\":0,\"warningAlertCount\":0}}}"
    }
  },
  "RegionHealths+[NoContext]+TestGetRegionHealth+$GET+https://management.azure.com/subscriptions/8436efc5-b1be-4ae4-996c-861ae6c21e80/resourceGroups/System.redmond/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/redmond?api-version=2016-05-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/8436efc5-b1be-4ae4-996c-861ae6c21e80/resourceGroups/System.redmond/providers/Microsoft.InfrastructureInsights.Admin[...]
