{
  "Start-AzsBackup+[NoContext]+TestCreateBackup+$POST+https://management.azure.com/subscriptions/a8d860a5-412b-43a4-a628-42a4298c2f5d/resourceGroups/system.redmond/providers/Microsoft.Backup.Admin/backupLocations/redmond/createBackup?api-version=2021-09-01+1": {
    "Request": {
      "Method": "POST",
      "RequestUri": "https://adminmanagement.redmond.ext-n42r1609.masd.stbtest.microsoft.com/subscriptions/a8d860a5-412b-43a4-a628-42a4298c2f5d/resourceGroups/system.redmond/providers/Microsoft.Backup.Admin/backupLocations/redmond/createBackup?api-version=2021-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 202,
      "Headers": {
        "Location": [ "https://adminmanagement.redmond.ext-n42r1609.masd.stbtest.microsoft.com/subscriptions/a8d860a5-412b-43a4-a628-42a4298c2f5d/resourceGroups/system.redmond/providers/Microsoft.Backup.Admin/backupLocations/redmond/operationResults/237e5a7a-3b1d-4bf5-b1d6-f495b8d48253?api-version=2021-09-01" ],
        "Retry-After": [ "60" ],
        "Azure-AsyncOperation": [ "https://adminmanagement.redmond.ext-n42r1609.masd.stbtest.microsoft.com/subscriptions/a8d860a5-412b-43a4-a628-42a4298c2f5d/resourceGroups/system.redmond/providers/Microsoft.Backup.Admin/backupLocations/redmond/operationResults/237e5a7a-3b1d-4bf5-b1d6-f495b8d48253?api-version=2021-09-01\u0026IsAsyncOperation=1" ],
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvC2yFOfGo1yC+R10/5A8K0ERNdFqNj/c9G3S7phzN24da9jqhW/EArVfkNhCXtUsZ6bsx/diOVUzPf48ALSpWh63NLchInha8vxtLARjOEjyrmT6lVM2tFtdMDaJebd7la8FOMgPfHfNMHY5qo9DA" ],
        "x-ms-ratelimit-remaining-subscription-writes": [ "1199" ]
      },
      "ContentHeaders": {
      },
      "Content": null,
    }
  },
  "Start-AzsBackup+[NoContext]+TestCreateBackup+$GET+https://adminmanagement.redmond.ext-n42r1609.[...]
