{
  "Get-AzsComputeScaleUnit+[NoContext]+GetComputeScaleUnitTest+$GET+https://management.azure.com/subscriptions/47b53730-e95d-4594-b843-d378bdff793a/providers/Microsoft.Compute.Admin/locations/redmond/computeScaleUnits/s-cluster?api-version=2021-03-30+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://adminmanagement.redmond.ext-n25r0507.masd.stbtest.microsoft.com/subscriptions/47b53730-e95d-4594-b843-d378bdff793a/providers/Microsoft.Compute.Admin/locations/redmond/computeScaleUnits/s-cluster?api-version=2021-03-30",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "579" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "14542" ],
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv+OYsbFO3iLEnsYinyddUUfN7k+N5Rb8P+8Y92/uojiPq0L6j50+PBc/cg570Q6iUy5Awwx4VPtV5209y9EP1G7n6U1AZJPH8fwG0vtRy8Jc9nnBQimazBow2ZBQZRB30RPwFprWfnCo9fswBKxKX" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"id\":\"providers/Microsoft.Compute.Admin/locations/redmond/computeScaleUnits/s-cluster\",\"name\":null,\"type\":\"Microsoft.Compute.Admin/locations/computeScaleUnits\",\"location\":\"redmond\",\"properties\":{\"scaleUnitName\":\"s-cluster\",\"lastUpdatedTime\":\"2021-07-29T22:53:17.236Z\",\"nodes\":[{\"nodeName\":\"ASRR1N25R05U26\",\"nodeHealthState\":\"Up\",\"lastUpdatedTime\":\"2021-07-29T22:53:16.845Z\",\"virtualMachines\":[]},{\"nodeName\":\"ASRR1N25R05U27\",\"nodeHealthState\":\"Up\",\"lastUpdatedTime\":\"2021-07-29T22:53:16.845Z\",\"virtualMachines\":[]},{\"nodeName\":\"ASRR1N25R05U25\",\"nodeHealthState\":\"Up\",\"lastUpdatedTime\":\"2021-07-29T22:53:17.236Z\",\"virtualMachines\":[]},{\"nodeName\":\"ASRR1N25R05U28\",\"nodeHealthState\":\"Up\",\"lastUpdatedTime\":\"2021-07-29T22:53:16.814Z\",\"virtualMachines\":[]}]}}",
    }
  }
}