{
  "Quota+[NoContext]+TestListQuotas+$GET+https://management.azure.com/subscriptions/47b53730-e95d-4594-b843-d378bdff793a/providers/Microsoft.Compute.Admin/locations/redmond/quotas?api-version=2021-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://adminmanagement.redmond.ext-n25r0507.masd.stbtest.microsoft.com/subscriptions/47b53730-e95d-4594-b843-d378bdff793a/providers/Microsoft.Compute.Admin/locations/redmond/quotas?api-version=2021-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "26" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "14911" ],
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvDoog3h7GymqeMEHZh90Tm/Tkyrn/8mXK8iMaYvscOm1HHIJRpLW3B4reYZOJlSf91GpjMcxBZqrZd33A3jlcixy8IdnpA8lS5Raut7PC4W0aG98KN+Y/f/Ax+OmUj6ONusME/+nTrQTBTt/aygmN" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/47b53730-e95d-4594-b843-d378bdff793a/providers/Microsoft.Compute.Admin/locations/redmond/quotas/crp-test-admin-quota-183\",\"name\":\"crp-test-admin-quota-183\",\"type\":\"Microsoft.Compute.Admin/quotas\",\"location\":\"redmond\",\"properties\":{\"virtualMachineCount\":5,\"coresLimit\":0,\"availabilitySetCount\":5,\"vmScaleSetCount\":5,\"maxAllocationStandardManagedDisksAndSnapshots\":1000,\"maxAllocationPremiumManagedDisksAndSnapshots\":1000,\"ddagpuCount\":0,\"partitionedGPUCount\":0}},{\"id\":\"/subscriptions/47b53730-e95d-4594-b843-d378bdff793a/providers/Microsoft.Compute.Admin/locations/redmond/quotas/crp-test-admin-quota-295\",\"name\":\"crp-test-admin-quota-295\",\"type\":\"Microsoft.Compute.Admin/quotas\",\"location\":\"redmond\",\"properties\":{\"virtualMachineCount\":5,\"coresLimit\":20,\"availabilitySetCount\":5,\"vmScaleSetCount\":0,\"maxAllocationStandardManagedDisksAndSnapshots\":1000,\"maxAllocationPremiumManagedDisksAndSnapshots\":1000,\"ddagpuCount\":0,\"par[...]
