{
  "Stop-AzsDiskMigrationJob+[NoContext]+TestStopDiskMigrationJob+$GET+https://management.azure.com/subscriptions/67ddffc1-1bfa-4dd9-80a6-62ba2e348b6c/providers/Microsoft.Compute.Admin/locations/redmond/disks?api-version=2021-09-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://adminmanagement.redmond.ext-n22r1006.masd.stbtest.microsoft.com/subscriptions/67ddffc1-1bfa-4dd9-80a6-62ba2e348b6c/providers/Microsoft.Compute.Admin/locations/redmond/disks?api-version=2021-09-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "1509" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "13853" ],
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvuqDiH7jOrJp3RKbDaFiIK10dKEwahBs5xfKSj1wTqELStpW2JzmGTHX3FcsxJshK8UOUB+83LjvmYIkYUQH3eSoxTa8M+At6HGVOQvsbtO0R+fxZQaoSK/I3X1bKkJ9jTEksCx6KgJipVb7b+TRj" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/67ddffc1-1bfa-4dd9-80a6-62ba2e348b6c/providers/Microsoft.Compute.Admin/locations/redmond/disks/307e6436-f964-4a99-8a5b-c2f0e039f298\",\r\n      \"name\": \"redmond/307e6436-f964-4a99-8a5b-c2f0e039f298\",\r\n      \"type\": \"Microsoft.Compute.Admin/locations/disks\",\r\n      \"location\": \"redmond\",\r\n      \"properties\": {\r\n        \"diskId\": \"307e6436-f964-4a99-8a5b-c2f0e039f298\",\r\n        \"status\": \"Unattached\",\r\n        \"sharePath\": \"\\\\\\\\SU1FileServer.n22r1006.masd.stbtest.microsoft.com\\\\SU1_ObjStore_1\",\r\n        \"actualSizeGB\": 1,\r\n        \"provisionSizeGB\": 1023,\r\n        \"creationSourceUri\": \"https://computepestertests.blob.redmond.ext-n22r1006.masd.stbtest.microsoft.com/vhds/New Virtual Hard Disk.vhd\",\r\n        \"creationOption\": \"Import\",\r\n        \"userResourceId\": \"/subscriptions/67ddffc1-1bfa-4dd9-80a6-62ba2e348b6c/resourceGroups/TESTRG/providers/Microsoft.Compute/Disks/testdisk2\",\r\n        \"diskType\": \"Disk\",\r\n        \"diskSku\": \"Premium_LRS\"\r\n      }\r\n    }\r\n  ]\r\n}",
    }
  },
  "Stop-AzsDiskMigrationJob+[NoContext]+TestStopDiskMigrationJob+$PUT+https://management.azure.com/subscriptions/67ddffc1-1bfa-4dd9-80a6-62ba2e348b6c/providers/Microsoft.Compute.Admin/locations/redmond/diskmigrationjobs/TestStopDiskMigration?targetScaleUnit=s-cluster\u0026targetVolumeLabel=ObjStore_2\u0026api-version=2021-09-01+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscription[...]
