{
  "Get-AzsContainerServiceQuota+[NoContext]+TestGetContainerServiceQuota+$GET+https://management.azure.com/subscriptions/40a8de27-eef0-47f4-b4e1-4168820581b8/providers/Microsoft.ContainerService.Admin/locations/redmond/quotas?api-version=2019-11-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://adminmanagement.redmond.ext-n31r1201.masd.stbtest.microsoft.com/subscriptions/40a8de27-eef0-47f4-b4e1-4168820581b8/providers/Microsoft.ContainerService.Admin/locations/redmond/quotas?api-version=2019-11-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "2" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "14946" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/40a8de27-eef0-47f4-b4e1-4168820581b8/providers/Microsoft.ContainerService.Admin/locations/redmond/quotas/Unlimited\",\"name\":\"redmond/Unlimited\",\"type\":\"Microsoft.ContainerService.Admin/locations/quotas\",\"properties\":{\"name\":\"Unlimited\"}}]}",
    }
  }
}