{
  "Get-AzsStorageQuota+[NoContext]+TestListAllStorageQuotas+$GET+https://management.azure.com/subscriptions/624575d6-5820-4528-8d07-53b5748f2fcc/providers/Microsoft.Storage.Admin/locations/redmond/quotas?api-version=2019-08-08-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/624575d6-5820-4528-8d07-53b5748f2fcc/providers/Microsoft.Storage.Admin/locations/redmond/quotas?api-version=2019-08-08-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "84" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "14910" ],
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRv9HzZfy80SL4/cfy21oB5Dhb6ZHwEP5C5yXZ1SXSmdmdgyT1NM95BQNPOL8b2G8hqksu7X+wcFJEd8XZYirfBTIJQJZBsyZ3oLLzddh3Xj12bSzVbxvdLBFFtIHpe3wOfQxOWhF9b9Old7UOx/gWE" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/624575d6-5820-4528-8d07-53b5748f2fcc/providers/Microsoft.Storage.Admin/locations/redmond/quotas/Default Quota\",\r\n      \"name\": \"redmond/Default Quota\",\r\n      \"type\": \"Microsoft.Storage.Admin/locations/quotas\",\r\n      \"location\": \"redmond\",\r\n      \"properties\": {\r\n        \"numberOfStorageAccounts\": 20,\r\n        \"capacityInGb\": 2048\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/624575d6-5820-4528-8d07-53b5748f2fcc/providers/Microsoft.Storage.Admin/locations/redmond/quotas/test05\",\r\n      \"name\": \"redmond/test05\",\r\n      \"type\": \"Microsoft.Storage.Admin/locations/quotas\",\r\n      \"location\": \"redmond\",\r\n      \"properties\": {\r\n        \"numberOfStorageAccounts\": 456,\r\n        \"capacityInGb\": 123\r\n      }\r\n    },\r\n    {\r\n      \"id\": \"/subscriptions/624575d6-5820-4[...]
