{
  "Set-AzsStorageQuota+[NoContext]+TestUpdateStorageQuota+$GET+https://management.azure.com/subscriptions/624575d6-5820-4528-8d07-53b5748f2fcc/providers/Microsoft.Storage.Admin/locations/redmond/quotas/Default Quota?api-version=2019-08-08-preview+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/624575d6-5820-4528-8d07-53b5748f2fcc/providers/Microsoft.Storage.Admin/locations/redmond/quotas/Default%20Quota?api-version=2019-08-08-preview",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "6" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "WWW-Authenticate": [ "oYG3MIG0oAMKAQChCwYJKoZIgvcSAQICooGfBIGcYIGZBgkqhkiG9xIBAgICAG+BiTCBhqADAgEFoQMCAQ+iejB4oAMCARKicQRvaB6ibKWc0KcXYCp4WxMiwIiCjgzY6z55fkw296i8I028mhqQbb9Bf3JiuM7PrPHVbqgIoRKpn7LALZSPl03PhRLi0npWed6fpMQFvhpNDtw2qCQQuJaWj6oF1LQIi0bKofhkLG4ro5FDK908uDQ2" ],
        "x-ms-ratelimit-remaining-subscription-reads": [ "14412" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json" ]
      },
      "Content": "{\r\n  \"id\": \"/subscriptions/624575d6-5820-4528-8d07-53b5748f2fcc/providers/Microsoft.Storage.Admin/locations/redmond/quotas/Default Quota\",\r\n  \"name\": \"redmond/Default Quota\",\r\n  \"type\": \"Microsoft.Storage.Admin/locations/quotas\",\r\n  \"location\": \"redmond\",\r\n  \"properties\": {\r\n    \"numberOfStorageAccounts\": 1000,\r\n    \"capacityInGb\": 4096\r\n  }\r\n}"
    }
  },
  "Set-AzsStorageQuota+[NoContext]+TestUpdateStorageQuota+$PUT+https://management.azure.com/subscriptions/624575d6-5820-4528-8d07-53b5748f2fcc/providers/Microsoft.Storage.Admin/locations/redmond/quotas/Default Quota?api-version=2019-08-08-preview+2": {
    "Request": {
      "Method": "PUT",
      "RequestUri": "https://management.azure.com/subscriptions/624575d6-5820-4528-8d07-53b5748f2fcc/providers/Microsoft.Storage.Admin/locations/redmond/quotas/Default%20Q[...]
