{
  "Get-AzsSubscriberUsage+[NoContext]+TestGetAzsSubscriberUsage+$GET+https://adminmanagement.northwest.azs-longhaul-04.selfhost.corp.microsoft.com/subscriptions/39c82aed-b2b7-4a66-abdb-611de00bf11e/providers/Microsoft.Commerce.Admin/subscriberUsageAggregates?api-version=2015-06-01-preview\u0026reportedStartTime=2019-12-10T11:00:00.0000000-08:00\u0026reportedEndTime=2019-12-10T12:00:00.0000000-08:00\u0026aggregationGranularity=Hourly+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://adminmanagement.northwest.azs-longhaul-04.selfhost.corp.microsoft.com/subscriptions/39c82aed-b2b7-4a66-abdb-611de00bf11e/providers/Microsoft.Commerce.Admin/subscriberUsageAggregates?api-version=2015-06-01-preview\u0026reportedStartTime=2019-12-10T11:00:00.0000000-08:00\u0026reportedEndTime=2019-12-10T12:00:00.0000000-08:00\u0026aggregationGranularity=Hourly",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "75", "76", "77", "78", "79", "80", "81", "82", "83", "84" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "14785" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/39c82aed-b2b7-4a66-abdb-611de00bf11e/providers/Microsoft.Commerce/UsageAggregate/09065051-cfe9-4fcf-b90c-87f2af292fc9-B5C15376-6C94-4FDD-B655-1A69D138ACA3\",\"name\":\"09065051-cfe9-4fcf-b90c-87f2af292fc9-B5C15376-6C94-4FDD-B655-1A69D138ACA3\",\"type\":\"Microsoft.Commerce/UsageAggregate\",\"properties\":{\"subscriptionId\":\"09065051-cfe9-4fcf-b90c-87f2af292fc9\",\"usageStartTime\":\"2019-12-10T18:00:00+00:00\",\"usageEndTime\":\"2019-12-10T19:00:00+00:00\",\"instanceData\":\"{\\\"Microsoft.Resources\\\":{\\\"resourceUri\\\":\\\"/subscriptions/09065051-cfe9-4fcf-b90c-87f2af292fc9/resourcegroups/vaasrg66a8/providers/Microsoft.Storage/storageAccounts/savaasrg66a8\\\",\\\"location\\\":\\\"northwest\\\",\\\"tags\\\":\\\"\\\",\\\"additionalInfo\\\":\\\"\\\"}}\",\"quantity\":16.461425899527967,\"meterId\":\"B5C15376-6C94-4FDD-B655-1A69D138ACA3\",\"name\":\"09065051-cfe9-4fcf-b90c-87f2af292fc9-B5C15376-6C94-4FDD-B655-1A69D138ACA3\"}},{\"id\":\"/subscriptions/39c82aed-b2b7-4a66-abdb-611de00bf11e/providers/Microsoft.Commerce/UsageAggregate/0d34b398-d29c-428c-aac3-07d9d24775ef-B5C15376-6C94-4FDD-B655-1A69D138ACA3\",\"name\":\"0d34b398-d29c-428c-aac3-07d9d24775ef-B5C15376-6C94-4FDD-B655-1A69D138ACA3\",\"type\":\"Microsoft.Commerce/UsageAggregate\",\"properties\":{\"subscriptionId\":\"0d34b398-d29c-428[...]
