{
  "Get-AzsAzureBridgeProduct+[NoContext]+TestListAzsAzureBridgeProduct+$GET+https://management.azure.com/subscriptions/74c72bdc-d917-431c-a377-8ca80f4238a0/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products?api-version=2016-01-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/74c72bdc-d917-431c-a377-8ca80f4238a0/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products?api-version=2016-01-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "4" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "14477" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"id\":\"/subscriptions/74c72bdc-d917-431c-a377-8ca80f4238a0/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/microsoft.windowsserver2012datacenter-arm-byol-3.127.20190530\",\"name\":\"default/microsoft.windowsserver2012datacenter-arm-byol-3.127.20190530\",\"type\":\"Microsoft.AzureBridge.Admin/activations/products\",\"properties\":{\"displayName\":\"Windows Server 2012 Datacenter - BYOL\",\"publisherDisplayName\":\"Microsoft\",\"publisherIdentifier\":\"MicrosoftWindowsServer\",\"provisioningState\":\"Succeeded\",\"offer\":\"WindowsServer\",\"offerVersion\":\"1.0.1901\",\"sku\":\"2012-Datacenter\",\"galleryItemIdentity\":\"Microsoft.WindowsServer2012Datacenter-ARM.1.0.1901\",\"iconUris\":{\"large\":\"https://azstmktprodwcu001.blob.core.windows.net/icons/bb1bc4d0993745f08d96bccfee25d062/Large.png\",\"wide\":\"https://azstmktprodwcu001.blob.core.windows.net/icons/bb1bc4d0993745f08d96bccfee25d062/Wide.png\",\"medium\":\"https://azstmktprodwcu001.blob.core.windows.net/icons/bb1bc4d0993745f08d96bccfee25d062/Medium.png\",\"small\":\"https://azstmktprodwcu001.blob.core.windows.net/icons/bb1bc4d0993745f08d96bccfee25d062/Small.png\"},\"payloadLength\":136365230245,\"productKind\":\"virtualMachine\",\"productProperties\":{\"version\":\"3.127.20190530\"},\"compatibility\":{\"isCompatible\":true,\"message\":\"None\",\"description\":\"None\",\"issues\":[]}}},{\"id\":\"/subscriptions/74c72bdc-d917-431c-a377-8ca80f4238a0/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/microsoft.eventhub-1.2003.1.0\",\"name\":\"default/microsoft.eventhub-1.2003.1.0\",\"type\":\"Microsoft.AzureBridge.Admin/activations/products\",\"properties\":{\"displayName\":\"Event Hubs [Public Preview]\",\"publisherDisplayName\":\"Microsoft Corp.\",\"publisherIdentifier\":\"microsoft\",\"provisioningState\":\"Succeeded\",[...]
